/* Tabs STyle */
section {
	padding: 20px;
}
.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.tab {
	background: #404040;
	cursor: pointer;
	color: #CCC;
	padding: 12px 15px;

	&.tab--active {
		background: tomato;
		color: white;
	}
}

.tab-content__section {
	background: #efefef;
}